<app-navbar [nItem]="nItems"></app-navbar>
<section class="h-100 ">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div class="card card-registration card-registration-2" style="border-radius: 15px;">
          <div class="card-body p-0">
            <div class="row g-0">
              <div class="col-lg-8">
                <div class="p-5">
                  <div class="d-flex justify-content-between align-items-center mb-5">
                    <h1 class="fw-bold mb-0 ">Shopping Cart</h1>
                    <h6 class="mb-0 text-muted">{{items.length}} items</h6>
                  </div>
                  <hr class="my-4">
                  <div *ngIf="items.length==0" class="p-5">
                    <h5 class="text-center">Your Cart is Empty!</h5>
                  </div>
                  <div class="row mb-4 d-flex justify-content-between align-items-center"
                    *ngFor="let item of items; let i=index">
                    <div class="col-md-2 col-lg-2 col-xl-2">
                      <img [src]="item.image" class="img-fluid rounded-3">
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-3">
                      <h6 class="text-muted">{{item.title}}</h6>
                      <h6 class="mb-0 desc">{{item.description}}</h6>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                      <button class="btn btn-link px-2" (click)="decreaseQuantity($event,i)">
                        <i class="fas fa-minus"></i>
                      </button>
                      <input id="form1" [value]="item.itemQuantity" min="1" name="quantity" type="number"
                        class="form-control form-control-sm" />
                      <button class="btn btn-link px-2" (click)="increaseQuantity($event,i)">
                        <i class="fas fa-plus"></i>
                      </button>
                    </div>
                    <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                      <h6 class="mb-0">{{item.price}} L.E</h6>
                    </div>
                    <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                      <a (click)="removeItem(item)" class="text-muted"><i class="fas fa-times"></i></a>
                    </div>
                  </div>
                  <hr class="my-4">
                  <div class="pt-5">
                    <h6 class="mb-0"><a routerLink="/products" class="text-body"><i
                          class="fas fa-long-arrow-alt-left me-2"></i>Back to shop</a></h6>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 summary">
                <div class="p-5">
                  <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                  <hr class="my-4">
                  <div class="d-flex justify-content-between mb-5">
                    <h5 class="text-uppercase">Total price</h5>
                    <h5>{{total}} L.E</h5>
                  </div>
                  <button type="button" class="btn btn-primary btn-block btn-lg" (click)="forceLogin()">Check
                    Out</button>
                  <div *ngIf="emptyflag" class="my-5 text-danger">Add Products to card first</div>
                  <div *ngIf="loginflag" class="my-5 text-success">Your order is sending.....</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>