<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item position-relative active">
      <img src="assets/slide1.jpg" class="d-block w-100" >
      <div class="overlay"></div>
      <div class="slide1Text d-none d-md-block text-center">
        <h1 class="text-white ">Every Purchase Will
          <br>Be Made With Pleasure</h1>
          <a class="btn rounded-pill" routerLink="/products">Shop Now!</a>
      </div>
    </div>
    <div class="carousel-item position-relative">
      <img src="assets/slide3.jpg" class="d-block w-100" >
      <div class="overlay"></div>
      <div class="slide2Text d-none d-md-block text-center">
        <h1 class="text2">Find The Best
          <br>Fashion Style For You </h1>
          <p> All You Need In One Place </p>
      </div>
    </div>
    <div class="carousel-item position-relative">
      <img src="./assets/slide2.jpg" class="d-block w-100" >
      <div class="overlay"></div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
