<section id="feature" class="p-5">
    <div class="febox">
        <img src="/assets/features imgs/f1.png" class="starimg" alt="">
        <h6>Free shipping</h6>
    </div>
    <div class="febox">
        <img src="/assets/features imgs/f2.png"  alt="">
        <h6>Online Order</h6>
    </div>
    <div class="febox">
        <img src="/assets/features imgs/f3.png" alt="">
        <h6>Save Money</h6>
    </div>
    <div class="febox">
        <img src="/assets/features imgs/f4.png" alt="">
        <h6>Promotions</h6>
    </div>
    <div class="febox">
        <img src="/assets/features imgs/f5.png" alt="">
        <h6>Happy Sell</h6>
    </div>
    <div class="febox">
        <img src="/assets/features imgs/f6.png" alt="">
        <h6>Support</h6>
    </div>
</section>
