.prd_click {
  cursor: pointer;
}


/* .title {
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: #555;
}

.title::after {
  content: '';
  background: #6096B4;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
 */

.img{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  }
/*
.font{
  font-size: larger;
  font-family:Raleway;
}

ul li a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  transition: 0.5s;
}

ul li a:hover {
  color:hwb(204 19% 29%) ;
  font-size: 20px;

} */
.container-fluid{
  overflow: hidden;
}
.slide{
  background-color: #DFF6FF;
}
.slide-item{
  color:#044268;
  transition: 1s;
}
.slide-item:hover{
  background-color:#47b5ff62;
}
.slide-item:hover .font{
  font-size: large;
  font-weight: 500;
}
.font{
  color:#044268;
}
.active{
  background-color:#47b5ff37;
}
.active .font{
  font-size: large;
  font-weight:400;
}




















